body {
    background-color: #7f7f7f;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 2rem;
}


#jspsych-progressbar-container {
    background-color:#7f7f7f !important;
    border-bottom: 0px !important;
}

.jspsych-display-element {
    width: 95% !important;
}